/* =================================================================================== */
/* 메인화면 관련 주요 CSS */
.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
 .App-title {
  position: absolute;
  display: flex;
  top: 5%;
  left: 5%;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
} 
/* =================================================================================== */
/* =================================================================================== */

.btn-start {
  position: absolute;
  top: 10%;
  left: 25%;
}
/* =================================================================================== */
/* =================================================================================== */


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
/* =================================================================================== */
/* =================================================================================== */

.display-mining {
  position: absolute;
  top: 40%;
  left: 5%;
}

.display-progressbar {
  position: absolute;
  top: 55%;
  left: 10%;
}




/* =================================================================================== */
/* =================================================================================== */
.ore-storage {
  position: absolute;
  left: 80%
}
.ore-each {
  display: flex;

}

