.clicker-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: inline-block; /* 이미지 크기에 맞게 버튼 크기 조정 */
    position: relative;
    outline: none; /* 포커스 아웃라인 제거 */
  }
  
  .clicker-button:active {
    transform: scale(0.95); /* 눌렸을 때 약간 작아지게 효과 */
  }
  
  .clicker-resized {
    display: block;
    width: 500px; /* 필요에 따라 크기 조정 */
    object-fit: cover;
  }
  
  .disabled {
    pointer-events: none; /* 비활성화 상태일 때 클릭 이벤트 제거 */
  }
  